<div class="container">
    <h1 class="text-center">Template Driven Form</h1>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div>
                    <!-- Direttiva ngForm del form nel suo complesso -->
                    <form (ngSubmit)="submitForm()" #contenitoreForm="ngForm">

                        <!-- Direttiva ngModelGroup per gestire i campi del form in un unico gruppo di value (userInfo) -->
                        <div ngModelGroup="userInfo" id="userInfo" #userGroup="ngModelGroup">

                            <!-- Sezione testo (user-email) -->
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" id="username" [ngModel]="userForm.defUserName" name="username" class="form-control" required #username="ngModel">
                                <!-- Messaggio di errore -->
                                <p *ngIf="username.invalid && username.touched"><strong>Questo campo è obbligatorio</strong></p>
                            </div>
                            <!-- Generazione username -->
                            <button type="button" class="btn btn-outline-info mt-2" (click)="generateUsername()">Genera Username</button>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" id="email" name="email" [ngModel]="userForm.email" class="form-control">
                            </div>
                            <!-- Messaggio di errore -->
                            <p *ngIf="userGroup.invalid && userGroup.touched">Errore: i campi non sono compilati corrrettamente</p>

                            <!-- Sezione select (option value e risposta textarea collegata) -->
                            <div class="form-group">
                                <label for="secret">Domanda segreta</label>
                                <select id="secret" name="secret" class="form-select" [ngModel]="userForm.question">
                                    <option value=""></option>
                                    <option value="madre">Nome di batttesimo di tua madre</option>
                                    <option value="padre">Nome di battesimo di tuo padre</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <textarea name="risposta" rows="2" class="form-control" [(ngModel)]="risposta"></textarea>
                            </div>
                            <p>La tua risposta è: {{ risposta }}, controlla e memorizzala!</p>

                            <!-- Sezione radio button -->
                            <div class="radio" *ngFor="let genere of generi">
                                <label>
                                    <input type="radio" name="sesso" ngModel [value]="genere.value" required>{{ genere.label }}
                                </label>
                            </div>

                            <!-- button submit -->
                            <button type="submit" class="btn btn-primary mt-3" [disabled]="contenitoreForm.invalid">Invia</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
