<section class="d-flex flex-row flex-wrap row-gap-4">

  <!-- gli *ng hanno come riferimento il div in vui vengono messi, e non il figlio -->
  <div id="for" *ngFor="let post of fetchGETService.data" class="col-12 col-md-6 col-lg-4 px-4"
    [ngClass]="{'d-none': !post.active}"> <!-- cancella lo spazio occupato dai post "false" -->

    <article class="card border-4" [ngClass]="{
      'border-primary': post.type === 'educational',
      'border-danger': post.type === 'politics',
      'border-warning': post.type === 'news'}">
      <div class="p-4">
        <!-- Mostra i dettagli del post nella card -->
        <h2>{{ post.title }}</h2>
        <p>{{ post.body }}</p>

        <!-- bottone per cancellare i post e mandarli da active a inactive -->
        <button class="btn btn-outline-dark border-2 w-100 fw-bold">DISATTIVA</button>
      </div>

      <small class="text-end text-white px-4 py-2" [ngClass]="{
        'bg-primary': post.type === 'educational',
        'bg-danger': post.type === 'politics',
        'bg-warning': post.type === 'news'}">{{ post.type }}</small>
    </article>
  </div>
</section>
