@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

html,
body {
	margin: 0;
	padding: 0;
	font-size: 1.2em;
	color: #333;
	line-height: 1.2em;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* mini framework base */

.wfull {
	width: 100%;
}

.flexbox {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: space-around;
}

.row {
	flex-direction: row;
}

.column {
	flex-direction: column;
}

.ph {
	padding: 20px 0;
}

.pb {
	padding-bottom: 20px;
}

.pt {
	padding-top: 20px;
}

.pl {
	padding-left: 20px;
}

.cornice {
	margin: 30px;
}

.pw25 {
	padding: 0 25vw;
}

.vh-100 {
	height: 100%;
}

.vw-100 {
	width: 100%;
}

.vw-50 {
	width: 50vw;
}

.vw-25 {
	width: 25vw;
}

.txt-center {
	text-align: center;
}

.txt-right {
	text-align: right;
}

.txt-center {
	text-align: center;
}

/* codice ad hoc pagina */

header b {
	color: white;
}

main a:link,
main a:visited {
	color: #00A0C6;
}

a:hover {
	color: red;
}

strong {
	color: #a02571;
	font-size: ;
}

.bg-code {
	background-color: #969494;
}

.bg-lightgray {
	background-color: #f3f3f3;
}

.bg-blue {
	background-color: #3f6bca;
}

.bg-grad {
	background: linear-gradient(160deg,rgba(0, 160, 198, 1),rgba(3,109,134,1));
}

.bg-sfondo {
	background: url("../img/sfondo.png") center center no-repeat;
	background-size: cover;
}

nav ul,
nav a {
	list-style: none;
	text-decoration: none;
	padding: 0;
}

.shadow {
	box-shadow: 0 2px 4px 2px #333;
}

h2 {
	font-size: 2em;
	line-height: 1.5em;
} 

/* media queries */

@media (max-width: 480px) {}