<!-- foto utente -->
<button type="button dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
  class="btn position-relative p-0 border-0 ms-auto">
  <i class="bi bi-list fs-1 text-black"></i>
</button>

<!-- dropdown utente -->
<section class="dropdown-menu dropdown-menu-end position-absolute border-0 border-bottom border-warning" data-bs-theme="dark" style="min-width: 250px;">
  <div class="dropdown-item d-flex gap-2 align-items-center">
    <i class="bi bi-person-circle fs-1 me-1"></i>
    <div class="d-flex flex-column">
      <b>{{loggedInUser.name}}</b>
      <small class="text-secondary">{{loggedInUser.email}}</small>
    </div>
  </div>

  <hr class="dropdown-divider" />

  <a class="dropdown-item d-flex gap-2 z-1" [routerLink]="['movie/popular']" routerLinkActive="text-warning" riaCurrentWhenActive="page">
    <i class="bi bi-star"></i>Popular Movies
  </a>

  <a class="dropdown-item d-flex gap-2" [routerLink]="['movie/favourites']" routerLinkActive="text-warning">
    <i class="bi bi-heart"></i>Favourites
  </a>

  <hr class="dropdown-divider" />

  <a class="btn dropdown-item d-flex gap-2" (click)="signOut()">
    <i class="bi bi-power"></i>Sign Out
  </a>
</section>
