<header class="position-fixed top-0 container-fluid px-4 px-sm-5 bg-stripes z-1 shadow">
  <nav class="navbar">
    <!-- logo -->
    <h1 class="mb-0">
      <a class="navbar-brand d-block d-md-none" href="./index.html"><img src="assets/img/logo.svg"
          alt="e-commerce logo" height="50px" /></a>
      <a class="navbar-brand d-none d-md-block" href="./index.html"><img src="assets/img/logo_esteso.svg"
          alt="e-commerce logo" height="50px" /></a>
    </h1>

    <!-- area personale utente -->
    <app-user-area *ngIf="currentPath !== '/login' && currentPath !== '/register'"></app-user-area>
  </nav>
</header>
