//----- VARIABILI COLORE ------
$purple:  #7550fe;
$white: #fff;
$gray: #e9ecef;
$gray2: #ced4da;
$dark: #343a40;
$green: #65d46f;
$red: red;

.bg-gray {
  background: $gray;
}

.bg-white {
  background: $white;
}

.bg-transparent {
  background: transparent;
}

.bg-line {
  background: linear-gradient(0deg, transparent calc(50% - 1px), $purple calc(50% - 1px), $purple calc(50% + 1px), transparent calc(50% + 1px));
  width: 100%;
}

.purple,
.active {
  color: $purple;
}

.active {
  border: 2px solid $purple;
}

a:hover,
.shadow {
  box-shadow: 0 .2rem .2rem rgba(0,0,0,.15);
}

//----- STILE GENERALE ------
* {
  box-sizing: border-box;
  letter-spacing: 1px;
  margin: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  color: $dark;
}

input,
button {
  border: none;
}

button:hover {
  transform: scale(1.2);
}

button:disabled {
  color: $gray2;
  cursor: default;
  transform: scale(1);
}

input:focus {
  outline: 2px solid $purple;
}

a {
  text-decoration: none;
}

a:hover {
  background: $purple;
  color: $gray;
  transform: scale(1.1);
}

a,
.bold {
  font-weight: bold;
}

body {
  font-size: 1.2rem;
}

h1 {
  line-height: 0;
}

//----- FLEXBOX ------

.flex-h-center {
  display: flex;
  align-items: center;
  text-align: center;
}

.w-center {
  justify-content: center;
}

.column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
  column-gap: 20px;
}

.w-100 {
  width: 100vw;
}

.w-max,
[w-navbar] {
  width: 100%;
}

//----- SPAZIATURE ------
.p-box {
  padding: 15px 20px 15px 20px;
}

.p-box-xs {
  padding: 10px 20px 10px 20px;
}

.bi::before {
  vertical-align: -.135em;
}

.ms {
  margin-left: 3rem;
}

.mt {
  margin-top: 1rem;
}

.mt-m {
  margin-top: 105.5px;
}

.mt-xl {
  margin-top: 300px;
}

.mb {
  margin-bottom: 2rem;
}

//----- STILE ------
.rounded {
  border-radius: 3rem;
}

.d-none {
  display: none;
}

.cursor-p {
  cursor: pointer;
}

//----- INPUT + CHECKBOX PERSONALIZZATA ------
input {
  width: 50vw;
  height: 46px;
  font-size: 20px;
}

input[type="checkbox"] {
  cursor: pointer;
  /* per cancellare stile di sistema checkbox */
  appearance: none;
  background-color: $white;
  width: 17px;
  height: 17px;
  border-radius: 100%;
}

/* Stile del segno di spunta */
input[type="checkbox"]::before {
  content: "\2688";
  display: flex;
  line-height: 0.7;
  font-size: 16px;
  margin-left: 1.7px;
  visibility: hidden;
}

/* Stile del segno di spunta quando la checkbox è selezionata */
input[type="checkbox"]:checked::before {
  visibility: visible;
}
