//----- VARIABILI COLORE ------
$purple:  #7550fe;
$gray: #e9ecef;
$dark: #343a40;
$green: #65d46f;
$red: red;

.bg-gray {
  background: $gray;
}

.purple,
.active {
  color: $purple;
}

.active {
  border: 2px solid $purple;
}

.shadow {
  box-shadow: 0 .2rem .5rem rgba(0,0,0,.15);
}

//----- STILE GENERALE ------
* {
  box-sizing: border-box;
  letter-spacing: 1px;
  margin: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  color: $dark;
}

a {
  text-decoration: none;
  font-weight: bold;
}

body {
  font-size: 1.2rem;
}

h1 {
  line-height: 0;
}

//----- FLEXBOX ------

.flex-h-center {
  display: flex;
  align-items: center;
}

.w-center {
  justify-content: center;
}

.column {
  flex-direction: column;
}

.w-100 {
  width: 100vw;
}

.w-max,
[w-navbar] {
  width: 100%;
}

//----- SPAZIATURE ------
.p-box {
  padding: 15px 20px 15px 20px;
}

.ms {
  margin-left: 3rem;
}

//----- STILE ------
.rounded {
  border-radius: 3rem;
}
