<div class="text-center">
    <h1>Gestione utenti da API reqres</h1>
    <hr>
    <h2>Nuovo utente</h2>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form>
                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input type="text" class="form-control" required name="nome" [(ngModel)]="newUser.first_name">
                    </div>
                    <div class="form-group">
                        <label for="cognome">Cognome</label>
                        <input type="text" class="form-control" required name="cognome" [(ngModel)]="newUser.last_name">
                    </div>
                    <div class="form-group">
                        <label for="cognome">Immagine</label>
                        <input type="text" class="form-control" required name="immagine" [(ngModel)]="newUser.avatar">
                    </div>
                    <button type="button" class="btn btn-primary" (click)="creaUtente()">Crea</button>
                </form>
                <hr>
                <button type="button" class="btn btn-success m-3" (click)="recuperaUtenti()">Recupera utenti</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ul class="list-group">
                    <li *ngFor="let user of users" class="list-group-item">Id: {{user.id}} - Nome: {{user.first_name}} - Cognome: {{user.last_name}} - Email: {{user.email}} - Immagine: <img src="{{user.avatar}}" alt="Immagine utente">
                        <button type="button" class="btn btn-danger btn-lg" (click)="cancellaUtente(user.id)">❌</button>
                    </li>
                </ul>
                <h3 *ngIf="!users">Non ci sono utenti!</h3>
            </div>
        </div>
    </div>
</div>
