<main class="flex-h-center w-center column">
  <!-- uso [(ngModel)] per passare il dato dell'input -->
  <section class="bg-gray p-box rounded shadow flex-h-center my">
    <input class="rounded p-box" type="text" [(ngModel)]="newTaskTitle" placeholder="Inserisci una nuova task">
    <button class="ms bg-transparent purple" style="font-size: 46px;" (click)="add()"><i class="bi bi-plus-circle-fill"></i></button>
  </section>

  <ng-container *ngIf="tasks; else recuperoTask">
    <ng-container *ngIf="tasks.length > 0; else nessunaTask">
      <h2 class="mt purple bg-line"><span class="bg-white p-box-xs">Task in attesa:</span></h2>
      <div class="flex-h-center p-box w-center flex-wrap">
      <article *ngFor="let task of tasks; let i = index" class="mt p-box bg-gray rounded purple bold flex-h-center mt shadow" [ngClass]="{'d-none': task.completed}">
          <p>{{task.title}}&nbsp;</p><input type="checkbox" class="active" (click)="completeTask(task.id, i)">
      </article>
    </div>
    </ng-container>
  </ng-container>

  <!--------- TESTI ALTERNATIVI ---------->
  <!-- creo il testo che si visualizzerà durante il caricamento -->
  <ng-template #recuperoTask>
    <h2 class="mt purple bg-line"><span class="bg-white p-box-xs">Recupero Task...</span></h2>
  </ng-template>
  <!-- creo il testo che si visualizzerà se non ci sarà nessuna task -->
  <ng-template #nessunaTask>
    <h2 class="mt purple bg-line"><span class="bg-white p-box-xs">Nessuna Task da completare</span></h2>
  </ng-template>

</main>
