* {
    letter-spacing: 1px;
}

.form-control::placeholder {
    opacity: 0.5;
}

header {
    background-image: linear-gradient(60deg, #fff 0px, #fff calc(100% - 150px), #f3f3f3 0px, #f3f3f3);
}

//   ------------ CARD STYLE ----------------
.card-wrap:hover {
    padding: 0 !important;
    transition: padding .4s;
}

.card-body {
    border-radius: 15px 0 15px 0;
    background-image: linear-gradient(175deg, #fff 0px, #fff calc(100% - 90px), #f3f3f3 0px, #f3f3f3);
}

.card img {
    object-fit: cover;
    aspect-ratio: 1/1;
}

.card img:hover {
    animation: zoomRotate 2s;
}

@keyframes zoomRotate {
    0% {
        transform: rotate(0deg)scale(100%);
    }

    50% {
        transform: rotate(0deg)scale(80%);
    }

    75% {
        transform: rotate(360deg)scale(50%);
    }

    100% {
        transform: rotate(360deg)scale(100%);
    }
}

.card-body .card-img-overlay:nth-of-type(1) {
    width: 200px;
    height: 60px;
}

.card-body .card-img-overlay:nth-of-type(2) {
    left: auto;
    bottom: auto;
    top: -10px;
    right: -10px;
}

.card-body .card-img-overlay:nth-of-type(2) a {
    border-radius: 10px 10px 10px 0;
}

.card p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    /*Il contenuto viene troncato alla sesta riga*/
    -webkit-line-clamp: 6;
    overflow: hidden;
}