<app-navbar></app-navbar>

<main class="container pt-5">
  <section class="d-flex flex-row flex-wrap pt-sm-4 my-5 row-gap-3 row-gap-sm-5">

    <!-- elemnti card film che si ripeteranno -->
    <div class="col-6 col-lg-4 col-xxl-3 px-2 px-sm-4" *ngFor="let movie of movies">
      <article class="card border-0 bg-dark">
        <img [src]="'http://image.tmdb.org/t/p/w500' + movie.poster_path" class="card-img-top fit" alt="...">
        <div class="card-body border-bottom border-warning rounded-bottom-4">
          <h4 class="card-title text-gray text-truncate">{{movie.original_title}}</h4>
          <small class="card-text d-none d-sm-block text-secondary">{{movie.release_date}}</small>
        </div>
      </article>
    </div>

  </section>
</main>
