/* css reset */

* {
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

html,
body {
	font-size: 1.2em;
	color: #393d41;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.2em;
}

h1, h2, h3, h4, h5, h6, strong {
	color: #25a2c3;
	font-family: 'Montserrat', sans-serif;
	line-height: 1em;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* stili riutilizzabili */

.p-all {
	padding: 5rem 10rem;
}

.pl {
	padding-left: 1.5rem;
}

.pb {
	padding-bottom: 1.5rem;
}

.pb-0 {
	padding-bottom: 0;
}

.pt {
	padding-top: 1.5rem;
}

.mt {
	margin-top: 1.5rem;
}

.ml {
	margin-left: 1.5rem;
}

.mb {
	margin-bottom: 1.5rem;
}

.mh {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

.mw {
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}

.left {
	text-align: left;
}

.white {
	color: #fff;
}

.lightgray {
	color: #c8e7f0;
}

.bg-black {
	background-color: #000;
}

.bg-blue {
	background-color: #25a2c3;
}

.bg-red {
	background-color: #e22d0e;
}

.bg-banner {
	background: url("../img/banner.jpg") center center no-repeat;
	background-size: cover;
}

button:hover {
	background-color: #e22d0e;
	cursor: pointer;
}

.b-0 {
	border: 0;
}

.b-circle {
	border-radius: 50%;
}

.w-100 {
	width: 100%;
}

.p-card {
	padding: 1.4rem;
}

.b-card {
	border: 1px solid #dee1e3
}

/* box model */



/* codice contenuto pagina */
