@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
	color: white;
	background-color: blue;
	font-weight: bold;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h2 {
    font-size: 2em;
}

img {
	width: 200px;
}

a {
	color: white;
}

a:hover {
	color: black;
}