@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&family=Spectral:wght@300&display=swap');

/* PERSONAL CSS RESET */
* {
    box-sizing: border-box;
    vertical-align: baseline;
    line-height: 1; /* la imposta all'altezza del carattere senza spazi extra */
}

html {
    font-family: 'Roboto', sans-serif;
}

body,
h2,
p {
    margin: 0;
}

p,
span,
small {
    color: rgb(117, 117, 117);
}

cite {
    font-style: normal;
    font-weight: bold;
}

nav ul {
    list-style: none;
    padding: 0;
}

a,
cite {
    text-decoration: none;
    color: #191919;
}

button {
    border: 0;
    border-radius: 100px;
    padding: 10px 20px;
}

button a {
    color: #fff;
}

h1,
ul,
figure {
    margin: 0;
}

/* FLEX LAYOUT */
.d-flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.h-center {
    justify-content: center;
}

.space-center {
    justify-content: space-around;
}

.v-center {
    align-items: center;
}

.end {
    justify-content: flex-end;
}

.w100 {
    width: 100%;
}

.w80 {
    width: 80%;
}

.w70 {
    width: 70%;
}

.w60 {
    width: 60%;
}

.w50 {
    width: 50%;
}

.w40 {
    width: 40%;
}

.w33 {
    width: 33.33%;
}

.w30 {
    width: 30%;
}

.w20 {
    width: 20%;
}

.w10 {
    width: 10%;
}

/* BOX MODEL STYLE */
.p-box {
    padding: 15px 0;
}

.pb {
    padding-bottom: 15px;
}

.m-0 {
    margin: 0;
}

.mt {
    margin-top: 15px;
}

.mb {
    margin-bottom: 15px;
}

.mr {
    margin-right: 10px;
}

.mh {
    margin: 15px 0;
}

.b-bottom {
    border: 0.5px solid #191919;
}

/* PAGE STYLE */
.bg-yellow {
    background: #ffc017;
}

.bg-black {
    background: #191919;
}

.bg-white {
    background: #fff;
}

.opacity {
    opacity: 0;
}

h3 {
    font-size: 0.8rem;
    text-transform: uppercase;
}

.round,
.round-square {
    width: 25px;
    padding: 3.5px 0;
}

.round {
    border-radius: 50%;
    
}

.round-square {
    border-radius: 20%;
}

/* HEADER STYLE */
header {
    position: fixed;
    top: 0;
    z-index: 1;
}

h1 img {
    height: 20px;
}

nav li {
    margin-right: 20px;
    font-size: 0.9rem;
}

.card {
    margin-bottom: 40px;
}

/* TOP STYLE */
#top {
    margin-top: 62px;
    min-height: 450px;
}

#top h2 {
    font-family: 'Spectral', serif;
    font-size: 5.5rem;
    letter-spacing: -5px;
}

#top p {
    color: #191919;
    font-size: 1.4rem;
}

#top button {
    width: 200px;
}

#top a {
    font-size: 1.2rem;
}

/* TREND STYLE */
#trend .number {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(230, 230, 230);
}

/* margini a tutte le card ai multipli di 3 */
#trend .card-gap:nth-child(3n) {
    padding: 0 0 0 20px;
}

/* margini a tutte le card ai multipli di 3 - 1 (secondo figlio, quinto etc */
#trend .card-gap:nth-child(3n-1) {
    padding: 0 10px 0 10px;
}

/* margini a tutte le card ai multipli di 3 - 2 (primo figlio, quarto etc */
#trend .card-gap:nth-child(3n-2) {
    padding: 0 20px 0 0;
}

/* BLOG STYLE */
#blog h4 {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

#blog img {
    object-fit: cover;
}

#blog article {
    padding-right: 15px;
}

#blog .bookmark {
    align-self: flex-end;
    margin-left: auto;
}

/* KEYWORD STYLE */
#key button {
    padding: 10px;
    border: 1px solid rgb(117, 117, 117);
    border-radius: 0;
}

#keyword {
    padding-left: 80px;
    position: sticky;
    top: 92px;
    align-self: flex-start;  /* necessario per usare sticky in flexbox */
}

#keyword hr {
    border: 0.5px solid #191919;
    margin: 40px 0;
}

/* SCHERMI MOLTO AMPI */
@media (min-width: 1458px) {
    #top .w50 {
        width: 65%;
    }

    #top .w40 {
        width: 35%;
    }
}

/* MEDIA QUERY GENRALI TABLET & CELL */
@media (max-width: 1024px) {
    span.w10 {
        display: none;
    }

    nav {
        margin-left: auto;
    }

    #trend .w80,
    #blog.w50,
    #keyword.w30 {
        width: 100%;
    }

    .container {
        flex-direction: column-reverse;
    }

    #keyword {
        padding-left: 0;
        position: static;
        top: 92px;
        align-self: none;
    }
}

/* MEDIA QUERY TABLET */
@media (min-width: 768px) and (max-width: 1024px) {
    .p-box {
        padding: 15px 40px;
    }

    #top.p-box {
        padding: 15px 0 15px 40px;
    }

    #top .w50 {
        width: 62%;
    }

    #top .w40 {
        width: 38%;
    }

    #trend .w33 {
        width: 50%;
    }

    /* seleziono figli pari */
    #trend .card-gap:nth-child(even) {
        padding: 0 0 0 10px;
    }

    /* selezione figli dispari */
    #trend .card-gap:nth-child(odd) {
        padding: 0 10px 0 0;
    }

    .container article.w80 {
        width: 70%;
    }

    .container .card > img.w20 {
        width: 30%;
    }
}

/* MEDIA QUERY CELL */
@media (max-width: 767px) {
    .p-box {
        padding: 15px 30px;
    }

    #top.p-box {
        padding: 15px 0 15px 30px;
    }

    header li:nth-child(-n+3),
    #top .w40 {
        display: none;
    }

    #top .w50,
    #trend .w33 {
        width: 100%;
    }

    /* seleziono tutti i figli */
    #trend .card-gap:nth-child(n) {
        padding: 0;
    }

    .container article.w80 {
        width: 60%;
    }

    .container .card > img.w20 {
        width: 40%;
    }
}