@import '/src/styles/colors.scss';

.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
}

.cards--card {
  display: flex;
  padding: 0 15px;
  width: 33.33%;

  @media screen and (max-width: 450px) {
    width: 100%;
  }

  @media screen and (min-width: 451px) and (max-width: 900px) {
    width: 50%;
  }

  @media screen and (min-width: 1200px) {
    width: 25%;
  }
}

.cards--card-article {
  background: $gray;
}

.cards--card-article > * {
  padding: 0 15px;
}

.cards--card-image {
  max-width: 100%;
  margin-top: 30px;
}

.truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.cards--card-title {
  @extend .truncate;
  -webkit-line-clamp: 1;
  text-transform: uppercase;
  text-align: center
}

.cards--card-text {
  @extend .truncate;
  -webkit-line-clamp: 4;
}

.cards--card-footer {
  background: $lightblue;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.cards--card-footer small {
  margin: 15px 0;
  text-transform: uppercase;
  color: $gray;
}
