@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

/* css reset */

* {
	box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

html {
	font-size: 1.1em;
	font-family: 'Poppins', sans-serif;
}

nav li {
	list-style: none;
}

a {
	text-decoration: none;
}

p {
	color: #333;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

th,
td {
	padding: 20px;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
	border-top: 2px solid #e2e2e2;
	border-bottom: 2px solid #e2e2e2;
}

button {
	border-radius: 0;
	border: 0;
	padding: 5px 10px;
}

input {
	border: 0;
	border-bottom: 2px #333 dotted;
	line-height: 25px;
}

/* stili riutilizzabili */
strong,
footer a {
	color: #a02571;
}

.white {
	color: #fff;
}

.gray {
	color: #999;
}

.acquamarine {
	text-decoration: underline;
	color: rgba(0, 160, 198, 1);
}

.bg-white {
	background-color: #fff;
}

.bg-darkgray {
	background-color: #999;
}

.bg-gray,
code {
	background-color: #e1e1e1;
}

.bg-blue {
	background-color: #3f6bca;
}

.bg-grad {
	background: linear-gradient(160deg, rgba(0, 160, 198, 1), rgba(3, 109, 134, 1));
}

.shadow {
	box-shadow: 0 1px 4px 1px #333;
}

.p-box {
	padding: 35px;
}

.p-wrap {
	padding: 20px;
}

.mt {
	margin-top: 20px;
}

.mb {
	margin-bottom: 20px;
}

.ml {
	margin-left: 20px;
}

.b-0 {
	border: 0;
}

/* FLEXBOX */
.d-flex {
	display: flex;
}

.in-block {
	display: inline-block;
}

.column {
	flex-direction: column;
}

.row-r {
	flex-direction: row-reverse;
}

.h-end {
	justify-content: flex-end;
}

.v-center {
	align-items: center;
}

.h-center {
	justify-content: center;
}

.center {
	align-items: center;
	justify-content: center;
	text-align: center;
}

.right {
	text-align: right;
}

.w-100,
.w-33 {
	width: 100%;
}

.w-50 {
	width: 50%;
}

/* stile pagina */
body {
	background: url("../img/sfondo.png") center -120px;
	background-size: cover;
	max-width: 1200px;
}

h1 img {
	width: 200px
}

header * {
	font-size: 18px;
}

h3 {
	font-size: 40px;
	line-height: 45px;
}

figure {
	border: 5px solid purple;
	width: 90px;
	height: 90px;
}

main img {
	border: 5px solid #00A0C6;
	width: 80px;
}

table {
	border-bottom: 2px solid #3f6bca;
}

iframe {
	border-radius: 20px;
	height: 250px;
}

h4 {
	font-size: 25px;
}

.txt-xs {
	font-size: 15px;
}

@media only screen and (min-width: 992px) {

	#articles,
	#extra {
		flex-direction: row;
	}

	#articles article:first-child,
	#articles :nth-child(2),
	iframe {
		margin-right: 25px;
	}

	iframe,
	aside {
		width: 50%;
	}

	.w-33 {
		width: 33.33%;
	}

	table {
		max-width: 800px;
	}
}

@media print {
	body {
		filter: grayscale();
	}

	.shadow {
		box-shadow: none;
	}

	iframe,
	aside,
	#articles,
	figure,
	header,
	footer {
		display: none;
	}
}