.bg-stripes {
  background: linear-gradient(60deg, #222529 0px, #222529 calc(100% - 150px), #f5c345 0px, #ca4349);
}

.text-gray {
  color: #aeb5bc;
}

.fit {
  aspect-ratio: 1/1.5;
  object-fit: fit;
}
