@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Caveat', cursive;
    background-color: #666;
}

h3 {
    font-size: 2rem;
}

.container p {
    font-size: 1.5rem;
}

/* CARD CHOICE */
.card-wrap {
    width: 80%;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 180px 0 100px 0;
    color: #fff;
    background-color: coral;
}

.card {
    width: 20%;
    padding: 30px;
    background-color: #666;
    border-radius: 40px;
    border: 2px solid #000;
    transition: all 200ms;
}

.card-wrap .card:first-child {
    transform: rotate(-15deg);
    z-index: 0;
}

.card:first-child:hover {
    transform: rotate(-15deg) scale(1.2);
    z-index: 3;
}

.card-wrap .card:nth-child(2) {
    transform: translate(0, -80px);
    z-index: 1;
}

.card:nth-child(2):hover {
    transform: translate(0, -80px) scale(1.2);
    z-index: 3;
}

.card-wrap .card:last-child {
    transform: rotate(15deg);
    z-index: 2;
}

.card:last-child:hover {
    transform: rotate(15deg) scale(1.2);
    z-index: 3;
}

.card:hover {
    background-color: orange;
    color: #000;
}

/* POST IT STYLE */
.bg-yellow {
    background: linear-gradient(#fafbc9 70%, #999) content-box;
}

.bg-green {
    background: linear-gradient(#c8f8ca 70%, #999) content-box;
}

.bg-purple {
    background: linear-gradient(#c2c3ec 70%, #999) content-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0 0 30px;
    margin: 100px;
}

.container > div {
    width: 25%;
    height: 400px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 500ms;
}

article {
    padding: 30px;
    margin-bottom: 30px;
    z-index: 0;
}

.container div:first-child,
.container div:nth-child(5),
.container div:nth-child(7) {
    transform: rotate(-5deg);
    animation: enterPostit 1s linear 1;
}

.container div:nth-child(2),
.container div:last-child {
    transform: rotate(4deg);
    animation: enterPostit 250ms linear 1;
}

.container div:nth-child(3),
.container div:nth-child(6) {
    transform: rotate(-4deg);
    animation: enterPostit 500ms linear 1;
}

.container div:nth-child(4) {
    transform: rotate(10deg);
    animation: enterPostit 250ms linear 1;
}

.container div:hover {
    transform: rotate(0) scale(1.2);
    z-index: 3;
}

@keyframes enterPostit {
    0% {
        transform: translateY(-1000px);
    }

    100% {
        transform: translateY(0);
    }
}

/* ANIMATION TEXT STYLE
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

.wrap {
    display: flex;
    background-color: coral;
}

#esercizio2 {
    width: 20%;
    margin-top: 4em;
    padding: 1em;
    font-size: 2rem;
}

#phrases {
    color: green;
    font-family: 'Indie Flower', cursive;
    
}

#phrases::before {
    content: "Single page app";
    animation: animate 3s ease-in-out infinite;
    padding-left: 10px;
}

@keyframes animate {
  
    0% {
        content:"Single page app";
    }

    50% {
        content:"Interfacce web";
    }

    75% {
        content:"App native";
    }
}