/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

.flex-v-center {
  display: flex;
  align-items: center;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.w-100 {
  width: 100%;
}
