//colori

// cambio icona dropdown
header .dropdown-toggle::after {
    border: 0;
    content: "v";
    transform: scale(1.5, 0.5)translate(5px, 30%);
}

header #utente img {
    height: 38px;
}

header #utente span {
    right: 24px;
}

header .navbar-toggler {
    transform: scale(0.8, 0.8);
}